:root {
  --primary-color: rgb(44, 99, 250);
  --primary-hover: rgba(0, 132, 255, 0.616);
  --secundary-color: hsl(0, 0%, 5%);
  --third-color: hsla(0, 0%, 100%, 0.1);
  --bg-color: hsl(0, 0%, 8%);

  --headline: hsl(0, 0%, 100%);
  --paragraph: hsla(0, 0%, 100%, 0.658);
  --paragraph-2: hsl(calc(var(--hue) + 10), 14%, 97%);

  font-size: 62.5%;

  --nav-height: 7.2rem;
}

html {
  scroll-behavior: smooth;
}

html,
body {
  width: 100%;
  height: 100%;
}

body {
  font-size: 1.6rem;
  text-align: center;
  overflow: overlay;
  background-color: rgba(0, 0, 0, 0.925);

}

body.light-mode {
  --secundary-color: rgb(229, 229, 229);
  --third-color: hwb(0 48% 52% / 0.356);
  --bg-color: rgb(241, 241, 241);

  --headline: hsl(0, 0%, 0%);
  --paragraph: rgb(32, 32, 32);
  --paragraph-2: hsl(calc(var(--hue) + 10), 14%, 3%);
}

::-webkit-scrollbar {
  width: 0.5rem;
}

::-webkit-scrollbar-track {
  border-radius: 1rem;
  background: rgb(241, 241, 241);
}

::-webkit-scrollbar-thumb {
  border-radius: 1rem;
  background: rgb(32, 32, 32);
}

.wrapper {
  width: min(50rem, 100%);
  margin-inline: auto;
  padding-inline: 2.4rem;
}

img {
  max-width: 100%;
  color: var(--paragraph);
}

section {
  padding-block: 10rem;
  padding-inline: 2rem;
}

section h4 {
  font-size: 1.4rem;
  font-weight: 700;
  line-height: 150%;
  letter-spacing: 0.08rem;
  color: rgb(44, 99, 250);
  text-transform: uppercase;
  margin-bottom: 1.6rem;
}

section header h2 {
  font-size: 3rem;
  line-height: 3.9rem;

  color: rgb(44, 99, 250);
}

section h3 {
  color: var(--headline);
}

section p,
section span {
  font-weight: 400;
  font-size: 1.7rem;
  line-height: 130%;

  color: var(--paragraph);
}

.button {
  background: none;
  border: 0.2rem solid rgb(44, 99, 250);

  margin-bottom: 6rem;
  padding: 1.4rem 3rem;

  width: fit-content;

  color: rgb(44, 99, 250);
  font-size: 1.4rem;
  font-weight: 700;
  text-transform: uppercase;
  text-decoration: none;

  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1.6rem;

  position: relative;

  transition: 400ms;
}

body.light-mode .button,
body.light-mode #home h4 {
  filter: brightness(0.8);
}

.button:hover {
  color: #fff;
  background-color: rgba(0, 132, 255, 0.616);
  border: 0.2rem solid rgba(0, 132, 255, 0.616);
  cursor: pointer;
}

body.light-mode .button:hover {
  filter: none;
}

nav {
  width: 100%;
  height: 7.2rem;
  display: flex;
  position: fixed;
  top: 0;
  z-index: 100;
  background-color: transparent;  
}

nav .wrapper{
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nav.scrolled {
  background-color: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(5px); 
  -webkit-backdrop-filter: blur(5px);

}

body.light-mode nav.scroll {
  background: rgba(151, 151, 151, 0.5);
}

.cabecalho-nome {
  font-family: 'Play', sans-serif;
  font-weight: 400;
  text-decoration: none;
  color: rgba(0, 132, 255, 0.616);
  font-size: 3rem;
}

.cabecalho-menu ul {
  align-items: center;
  justify-content: center;
  list-style: none;
  margin: 0;
  padding: 0.1875rem;
  display: flex;
  height: 5rem;
}

.cabecalho-menu li {
  display: flex;
  height: 5rem;
  align-items: center;
  justify-content: center;
}

.cabecalho-menu li,
.cabecalho-menu li a {
  display: flex;
  transition: border-bottom 0.3s;
  color: rgba(0, 132, 255, 0.616);
  margin: 0.3125rem;
  position: relative;
  height: 100%;
  align-items: center;
  font-size: 1.25rem;
}

.cabecalho-menu li,
.cabecalho-menu li a:hover {
  color: rgb(44, 99, 250);
}

.cabecalho-menu li:after {
  content: '';
  display: block;
  position: absolute;
  bottom: 0;
  left: 0;
  height: 0.125rem;
  background-color: transparent;
  transition: background-color 0.3s;
}

.cabecalho-menu li:hover:after {
  background-color: rgb(44, 99, 250);
  width: 100%;
}

/* == == */

#projects .card circle {
  fill: var(--secundary-color);
}

#backToTopButton circle {
  fill: rgb(44, 99, 250);
}

#contact li path,
#navigation button.open-menu path[stroke*="#00856F"] {
  stroke: rgb(44, 99, 250);
}

#navigation.scroll button.open-menu path[stroke*="#00856F"] {
  stroke: var(--paragraph-2);
}

/*////////// Redes sociais //////////////*/

.lista-redes-sociais {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2rem;
}


.lista-redes-sociais svg {
  margin-top: 0.3rem;
  transition: 300ms;
}

.lista-redes-sociais svg:hover {
  margin-top: 0;
  margin-bottom: 0.3rem;
}

body .lista-redes-sociais li svg path {
  transition: 200ms;
}

body nav#navigation .lista-redes-sociais li:nth-child(1) svg:hover path,
body .lista-redes-sociais li:nth-child(1) svg:hover path {
  stroke: #ff377a;
}

body .lista-redes-sociais li:nth-child(2) svg:hover path:nth-child(2),
body nav#navigation .lista-redes-sociais li:nth-child(2) svg:hover path:nth-child(2) {
  fill: #fff;
}

body.light-mode .lista-redes-sociais li:nth-child(2) svg:hover path:nth-child(2),
body.light-mode
  nav#navigation
  .lista-redes-sociais
  li:nth-child(2)
  svg:hover
  path:nth-child(2) {
  fill: #000;
}

body .lista-redes-sociais li:nth-child(3) svg:hover path:nth-child(2),
body nav#navigation .lista-redes-sociais li:nth-child(3) svg:hover path:nth-child(2) {
  fill: #0a66c2;
}


/*//////////////// MENU-EXPANDED //////////////////////////////////////////////////////////////*/

body.menu-expanded {
  overflow: hidden;
}

body.menu-expanded nav#navigation.scroll {
  background: none;
  backdrop-filter: none;
}

.menu,
.close-menu,
body.menu-expanded .open-menu {
  opacity: 0;
  visibility: hidden;
}

body.menu-expanded .menu,
body.menu-expanded .close-menu {
  opacity: 1;
  visibility: visible;
}

.menu {
  transform: translateX(100%);
}

body.menu-expanded .menu,
body.menu-expanded nav.scroll .menu {
  top: 0;
  left: 0;

  background: rgba(0, 0, 0, 0.7);
  backdrop-filter: blur(1rem);
  -webkit-backdrop-filter: blur(1rem);

  width: 100vw;
  height: 100vh;

  padding-top: var(--nav-height);

  transition: transform 300ms;
  transform: translateX(0);
}

.menu ul:nth-child(1) {
  display: flex;
  flex-direction: column;
  gap: 3rem;

  margin: 8rem 0 10rem 0;

  font-weight: 700;
  font-size: 2rem;
  line-height: 3.1rem;
}

body.menu-expanded nav .logo,
body.menu-expanded button {
  position: relative;
  z-index: 100;
}

body.menu-expanded button path {
  stroke: white;
}


/*/// HOME ////////////////////////////////////////////////*/

.home {
  display: flex;
  flex-direction: column;
  padding-top: 72px;
  min-height: calc(60rem + 7.2rem);
  align-items: center;

}

.home .wrapper{
  max-height: 40rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}



.linha {
  overflow: hidden;
  white-space: nowrap;
  font-size: 1.5rem;
  display: inline-block;
  margin: 0;
}

.digitando {
  display: inline-block;
  vertical-align: middle;
}

.apresentacao {
  display: flex;
  flex-direction: column;
  color: white;
}

.apresentacao-1 {
  display: flex;
  flex-direction: column;
  gap: 1.25rem;
}

.apresentacao header {
  padding: 0.3125rem 0;
  font-size: 2rem;
}

.apresentacao p {
  font-size: 1.5rem;
  font-weight: 400;
  color: gray;
}

.apresentacao h4 {
  font-size: 1rem;
  font-weight: 400;
  color: rgb(44, 99, 250);
}

.button-contato {
  background: none;
  border: 0.0125rem solid rgb(44, 99, 250);
  margin-bottom: 6rem;
  padding: 0.875rem 1.875rem;
  width: fit-content;
  color: rgb(44, 99, 250);
  font-size: 0.875rem;
  font-weight: 700;
  text-transform: uppercase;
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1.6rem;
  position: relative;
  transition: 0.4s;
}

.button-contato:hover {
  background: rgb(44, 99, 250);
  color: white;
}

.imagem-home {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 0.625rem;
  max-width: 100%;
}

.imagem-escp {
  max-width: 10rem; 
  height: auto;
  opacity: 0;
  animation: entrar 1.5s ease-out forwards;
}

.primeiro {
  animation-delay: 0.5s;
}

.segundo {
  animation-delay: 1s;
}

.terceiro {
  animation-delay: 1.5s;
}

.quarto {
  animation-delay: 2s;
}

.imagem-home img {
  margin-top: 0.3rem;
  transition: 300ms;
}

.imagem-home img:hover {
  margin-top: 0;
  margin-bottom: 0.3rem;
}

@keyframes entrar {
  0% {
    transform: translateY(-3.125rem);
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

.linha {
  border-right: 0.2rem solid rgb(44, 99, 250);
  white-space: nowrap;
  overflow: hidden;
}

.digitando {
  animation: line-typing 500ms steps(30) infinite normal,
    typing 2s steps(30) 1.4s normal backwards;

}

@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

@keyframes line-typing {
  from {
    border-right-color: rgb(44, 99, 250);
  }
  to {
    border-right-color: transparent;
  }
}




/*//////// SOBRE  MIM ///////*/

.sobre-mim{
  display: flex;
  background-color: rgb(43, 43, 43);
  align-items: center;
  justify-content: space-between;
}

.img-eu{
  max-width: 100%;
  border-radius: 20%;
  transition: 600ms;
}

.descricao-sobre-mim{
  display: flex;
  flex-direction: column;
  gap: 5rem;
}

.sobre-mim p{
  font-family: 'Play', sans-serif;
  font-weight: 400;
  color: white;
  text-align: justify;
  font-size: 1.5rem;
  margin-bottom: 5rem;
}

.sobre-mim h1{
  font-family: 'Play', sans-serif;
  font-weight: 700;
  text-align: justify;
  font-size: 3rem;
  color: rgb(44, 99, 250)
}


/*/////// PROJETOS /////////////////////////*/
.projetos {
  display: flex;  
  align-items: center;
  justify-content: center;
}

.projetos header{
  justify-content: center;
  text-align: center;
  margin-bottom: 6rem;
}


.projetos header h2{
  font-family: 'Play', sans-serif; ;
  font-size: 3rem;
  font-weight: 700;
  margin-bottom: 1.6rem;
}

.projetos .cards-projetos {
  
  align-items: center;
  justify-content: center;
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 3.2rem;
}

.projetos .card {
  padding: 4rem;
  background: rgba(0, 0, 0, 0.356);
  border-radius: 0.6rem;
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 2.5rem;
  transition: 400ms;
  color: white;
}

.projetos .card .img-overlay{
  width: 100%;
  position: relative;
}

.projetos .card img{
  width: 100%;
  height: 20rem;
  object-fit: cover;
  border-radius: 0.6rem;
  transition: 300ms;
}

.projetos .card p{
  text-align: center;
  object-fit: cover;
  border-radius: 0.6rem;  
}

.projetos .card h3{
  min-height: 3rem;
  text-align: center;
}

.em-breve p{
  font-size: 1.25rem ;
  gap: 1rem
}


.card:hover {
  background: rgba(68, 68, 68, 0.89)
}

.card:hover > .img-overlay img {
  filter: opacity(0.5);
}

.card .buttons {
  visibility: hidden;
  opacity: 0;
  position: absolute;
  left: 0;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  display: flex;
  justify-content: center;
  gap: 1rem;
  transition: 400ms;
}

.card:hover > .img-overlay .buttons {
  visibility: visible;
  opacity: 1;
}

.card .buttons a svg {
  width: 4rem;
  height: 4rem;
}
.card .buttons a svg path:nth-child(2) {
  fill: #000;
  transition: 200ms;
}

.card .buttons a:hover svg path:nth-child(2) {
  fill: #fff;
}

.card .buttons a {
  background: #fff;
  border-radius: 50%;

  width: 6rem;
  height: 6rem;

  display: flex;
  justify-content: center;
  align-items: center;

  transition: 500ms;
}

.card .buttons a:hover {
  background-color: #000;
  cursor: pointer;
}

.card .buttons a:hover > svg {
  fill: #fff;
}

.card:nth-child(8) svg path:nth-child(2) {
  fill: #fff;
}

.button {
  margin: 6rem auto 0;
}


/*/////// CONHECIMENTOS ///////////////////////////*/

.conhecimentos {
    display: flex;
    padding: 7.1rem 2rem ;
    background-color: rgb(43, 43, 43);
    align-items: center;
    justify-content: center;
}

.conhecimentos header{
  justify-content: center;
  text-align: center;
  margin-bottom: 6rem;
}


.conhecimentos header h2{
  font-family: 'Play', sans-serif; ;
  font-size: 3rem;
  font-weight: 700;
  margin-bottom: 1.6rem;
}

.conhecimentos .cards-conhecimentos {
  align-items: center;
  justify-content: center;
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 1.2rem;
}

.conhecimentos .card {
  height: 100%;
  padding: 4rem;
  background: rgba(0, 0, 0, 0.356);
  border-radius: 0.6rem;
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 2.5rem;
  transition: 400ms;
  color: white;
}

.conhecimentos .card img{
  max-width: 4rem;
  height: 3rem;
}

.conhecimentos .card p{
  text-align: center;
}

.conhecimentos .card p span{
  color: rgba(238, 255, 0, 0.89);
}

.conhecimentos .card p .span-conhecimentos{
  color: rgba(21, 255, 0, 0.952) ;
}

.conhecimentos .card:hover {
  background: rgba(0, 0, 0, 0.651);
}

/*/////// CONTATO ///////////////////////////*/

.contato {
  display: flex;
  padding: 7.1rem 6.25rem ;
  align-items: center;
  justify-content: center;
}

.contato-colunas{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.contato .contato-col-a,
.contato .contato-col-a div{
  display: flex;
  flex-direction: column;
  gap: 2rem;
}


.contato .contato-col-a li{
  display: flex;
  justify-content: space-between;
  padding-bottom: 1rem;
}

.contato .contato-col-a li p{
  padding-left: 1rem;
}

.contato header{
  font-family: 'Play', sans-serif;
  font-size: 1.5rem;
}

#contato a{
  display: flex;
  align-items: center;
  color: rgb(156, 156, 156)  ;
}

.contato .button-contato:hover .svg-container path,
.contato .button-contato:hover h3 {
  fill: white;
  color: white;
}

.contato-col-b img{
 width: 100%;
 opacity: 0.5;
 border-radius: 20%;
}

/*===== FOOTER ===============================================*/

footer {
  background-color: var(--secundary-color);
  text-align: left;
  color: var(--paragraph);
}

footer .wrapper {
  padding-block: 6rem;
  border-top: 0.1rem solid var(--paragraph);
}

footer .logo {
  display: inline-block;
  margin-bottom: 2.4rem;
  opacity: 0.6;
}
footer p {
  line-height: 2;

  margin-bottom: 3.2rem;
}

footer .lista-redes-sociais {
  justify-content: flex-start;
}

footer .lista-redes-sociais li:nth-child(1) svg path {
  stroke: white;
}

footer .lista-redes-sociais li:nth-child(2) svg path:nth-child(2),
footer .lista-redes-sociais li:nth-child(3) svg path:nth-child(2),
footer .lista-redes-sociais li:nth-child(4) svg path:nth-child(2) {
  fill: white;
}

/*===== SWITCH MODE TOGGLE =====================================*/

#toggle {
  display: flex;

  position: fixed;
  bottom: 2rem;
  left: 2.5rem;
}

#toggle input {
  position: absolute;
  visibility: hidden;
}

#toggle label {
  width: 8rem;
  height: 4rem;

  background-color: var(--secundary-color);
  border: 0.1rem solid rgb(44, 99, 250);
  border-radius: 5rem;

  display: flex;
  align-items: center;
  justify-content: space-around;
}

#toggle label:hover {
  cursor: pointer;
}

#toggle label::before {
  content: "";
  display: block;

  width: 3rem;
  height: 3rem;

  background-color: rgb(44, 99, 250);
  border-radius: 50%;

  position: absolute;
  bottom: 0.5rem;
  left: 0.6rem;
  transform: translateX(0);

  transition: 500ms;
}

#toggle input:checked + label::before {
  transform: translateX(3.8rem);
}

/*===== BACK TO TOP BUTTON =====================================*/

#backToTopButton {
  position: fixed;
  bottom: 1.5rem;
  right: 2.5rem;

  opacity: 0;
  visibility: hidden;

  transition: 200ms;
  transform: translateY(100%);
}

#backToTopButton.show {
  opacity: 1;
  visibility: visible;

  transform: translateY(0);
}

@media (min-width: 1024px) {
  /*===== GERAL =======================================*/

  body {
    overflow: auto;
  }

  .wrapper {
    width: min(112rem, 100%);
    display: grid;
  }

  section {
    padding-block: 13rem;
  }

  body section h2 {
    font-size: 4rem;
    line-height: 5.2rem;
  }

  .col-a {
    grid-area: A;
  }

  .col-b {
    grid-area: B;
  }