html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: rgb(0, 0, 0);
  color: rgba(0, 132, 255, 0.616);
}

::-webkit-scrollbar {
  width: 0.5rem;
}

::-webkit-scrollbar-track {
  border-radius: 1rem;
  background: rgb(241, 241, 241);
}

::-webkit-scrollbar-thumb {
  border-radius: 1rem;
  background: rgb(32, 32, 32);
}

nav {
  align-items: center;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 1000;
  background-color: rgba(0, 0, 0, 0.8); /* Adiciona um fundo preto com transparência */
  backdrop-filter: blur(5px); /* Aplica um desfoque ao fundo */
  -webkit-backdrop-filter: blur(5px);
}

.cabecalho {
  font-weight: 700;
  padding: 0.625rem;
  margin: 0 7.5rem 0 7.5rem;
  display: flex;
  align-items: center;
  height: 5rem;
  justify-content: space-between;
}

.cabecalho-nome {
  font-family: 'Play', sans-serif;
  font-weight: 400;
  text-decoration: none;
  color: rgba(0, 132, 255, 0.616);
  font-size: 3.125rem;
}

.cabecalho-menu ul {
  align-items: center;
  justify-content: center;
  list-style: none;
  margin: 0;
  padding: 0.1875rem;
  display: flex;
  height: 5rem;
}

.cabecalho-menu li {
  display: flex;
  height: 5rem;
  align-items: center;
  justify-content: center;
}

.cabecalho-menu li,
.cabecalho-menu li a {
  display: flex;
  transition: border-bottom 0.3s;
  color: rgba(0, 132, 255, 0.616);
  margin: 0.3125rem;
  position: relative;
  height: 100%;
  align-items: center;
  font-size: 1.25rem;
}

.cabecalho-menu li,
.cabecalho-menu li a:hover {
  color: rgb(44, 99, 250);
}

.cabecalho-menu li:after {
  content: '';
  display: block;
  position: absolute;
  bottom: 0;
  left: 0;
  height: 0.125rem;
  background-color: transparent;
  transition: background-color 0.3s;
}

.cabecalho-menu li:hover:after {
  background-color: rgb(44, 99, 250);
  width: 100%;
}

/*////////// Redes sociais //////////////*/

.lista-redes-sociais {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}


.lista-redes-sociais svg {
  margin-top: 0.3rem;
  transition: 300ms;
}

.lista-redes-sociais svg:hover {
  margin-top: 0;
  margin-bottom: 0.3rem;
}

body .lista-redes-sociais li svg path {
  transition: 200ms;
}

body nav#navigation .lista-redes-sociais li:nth-child(1) svg:hover path,
body .lista-redes-sociais li:nth-child(1) svg:hover path {
  stroke: #ff377a;
}

body .lista-redes-sociais li:nth-child(2) svg:hover path:nth-child(2),
body nav#navigation .lista-redes-sociais li:nth-child(2) svg:hover path:nth-child(2) {
  fill: #fff;
}

body.light-mode .lista-redes-sociais li:nth-child(2) svg:hover path:nth-child(2),
body.light-mode
  nav#navigation
  .lista-redes-sociais
  li:nth-child(2)
  svg:hover
  path:nth-child(2) {
  fill: #000;
}

body .lista-redes-sociais li:nth-child(3) svg:hover path:nth-child(2),
body nav#navigation .lista-redes-sociais li:nth-child(3) svg:hover path:nth-child(2) {
  fill: #0a66c2;
}


/*/// HOME ////////////////////////////////////////////////*/

.home {
  display: flex;
  padding-top: 8.2rem;
  height: 100vh;
  align-items: center;
  margin: 0 17.5rem 0 17.5rem;
  justify-content: space-between;
}

.linha {
  overflow: hidden;
  white-space: nowrap;
  border-right: 0.125rem solid #000;
  font-size: 1.5rem;
  display: inline-block;
  margin: 0;
}

.digitando {
  display: inline-block;
  vertical-align: middle;
}

.apresentacao {
  display: flex;
  flex-direction: column;
  color: white;
}

.apresentacao-1 {
  display: flex;
  flex-direction: column;
  gap: 1.25rem;
}

.apresentacao header {
  padding: 0.3125rem 0;
  font-size: 2rem;
}

.apresentacao p {
  font-size: 1.5rem;
  font-weight: 400;
  color: gray;
}

.apresentacao h4 {
  font-size: 1rem;
  font-weight: 400;
  color: rgb(44, 99, 250);
}

.button-contato {
  background: none;
  border: 0.0125rem solid rgb(44, 99, 250);
  margin-bottom: 6rem;
  padding: 0.875rem 1.875rem;
  width: fit-content;
  color: rgb(44, 99, 250);
  font-size: 0.875rem;
  font-weight: 700;
  text-transform: uppercase;
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1.6rem;
  position: relative;
  transition: 0.4s;
}

.button-contato:hover {
  background: rgb(44, 99, 250);
  color: white;
}

.imagem-home {
  
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 0.625rem;
}

.imagem-escp {
  height: 10rem;
  opacity: 0;
  animation: entrar 1.5s ease-out forwards;
}

.primeiro {
  animation-delay: 0.5s;
}

.segundo {
  animation-delay: 1s;
}

.terceiro {
  animation-delay: 1.5s;
}

.quarto {
  animation-delay: 2s;
}

.imagem-home img {
  margin-top: 0.3rem;
  transition: 300ms;
}

.imagem-home img:hover {
  margin-top: 0;
  margin-bottom: 0.3rem;
}

@keyframes entrar {
  0% {
    transform: translateY(-3.125rem);
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

.linha {
  font-size: 1.5rem;
  line-height: 1.875rem;
  letter-spacing: 0.01em;
  position: relative;
  white-space: nowrap;
  overflow: hidden;
}

.linha:after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  width: 0.1875rem;
  height: 100%;
  background: rgb(44, 99, 250);
  animation: blink 0.8s step-start infinite;
}

@keyframes blink {
  0%,
  100% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
}

.digitando {
  animation: digitar 2s steps(27) 1s 1 normal both, fadout 0.5s 6s both;
}

@keyframes digitar {
  from {
    width: 0;
  }
  to {
    width: 96%;
  }
}

/*//////// SOBRE  MIM ///////*/

.sobre-mim{
  display: flex;
  background-color: rgb(43, 43, 43);
  align-items: center;
  justify-content: space-between;
}

.img-eu{
  max-width: max-content;
  max-height: 45rem;
  padding: 5rem 5rem;
  border-radius: 20%;
}

.descricao-sobre-mim{
  display: flex;
  flex-direction: column;
  gap: 5rem;
  padding-right: 5rem;
}

.sobre-mim p{
  font-family: 'Play', sans-serif;
  font-weight: 400;
  color: white;
  text-align: justify;
  font-size: 1.2rem;
}

.sobre-mim h1{
  font-family: 'Play', sans-serif;
  font-weight: 700;
  text-align: justify;
  font-size: 2rem;
}


/*/////// PROJETOS /////////////////////////*/
.projetos {
  display: flex;
  padding: 8.1rem 1.25rem ;
  align-items: center;
  justify-content: center;
}

.projetos header{
  text-align: center;
}


.projetos header{
  margin-bottom: 6rem;
}

.projetos header h2{
  margin-bottom: 1.6rem;
}

.cards-projetos {
  align-items: center;
  justify-content: center;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  gap: 3.2rem;
}

.card {
  padding: 4rem;
  background: hsl(0, 0%, 8%);
  border-radius: 0.6rem;
  box-shadow: -1rem 1rem 1rem rgba(0, 0, 0, 0.267);
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2.5rem;
  transition: 400ms;
}

.card .img-overlay{
  width: 100%;
  position: relative;
}

.card img{
  width: 100%;
  max-width: 20rem;
  height: 20rem;
  object-fit: cover;
  border-radius: 0.6rem;  
}

.card:hover > .img-overlay img {
  filter: opacity(0.5);
}

.card .buttons {
  visibility: hidden;
  opacity: 0;
  position: absolute;
  left: 0;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  display: flex;
  justify-content: center;
  gap: 1rem;
  transition: 400ms;
}

.card:hover > .img-overlay .buttons {
  visibility: visible;
  opacity: 1;
}

.card .buttons a svg {
  width: 4rem;
  height: 4rem;
}
.card .buttons a svg path:nth-child(2) {
  fill: #000;
  transition: 200ms;
}

.card .buttons a:hover svg path:nth-child(2) {
  fill: #fff;
}

.card .buttons a {
  background: #fff;
  border-radius: 50%;

  width: 6rem;
  height: 6rem;

  display: flex;
  justify-content: center;
  align-items: center;

  transition: 500ms;
}

.card .buttons a:hover {
  background-color: #000;
  cursor: pointer;
}

.card .buttons a:hover > svg {
  fill: #fff;
}

.card:nth-child(8) svg path:nth-child(2) {
  fill: var(--paragraph);
}

.button {
  margin: 6rem auto 0;
}